<% provide(:title, 'Edit a Course') %>

<h1>Edit a Course</h1>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <%= form_for(@course) do |f| %>
            <%= render 'shared/error_messages_courses' %>

            <div class="form-group">
                <%= f.label :instructor, "First and Last Name:" %>
                <%= f.text_field :instructor, class: "form-control", value: current_user.name %>
            </div>

            <div class="form-group">
                <%= f.label :email, "OSU Email:" %>
                <%= f.text_field :email, class: "form-control", value: current_user.email %>
            </div>

            <div class="form-group">
                <%= f.label :course_name, "Course:" %>
                <%= f.text_field :course_name, class: "form-control", placeholder: "Ex: CSE 3901" %>
            </div>

            <div class="form-group">
                <%= f.label :section, "Section:" %>
                <%= f.text_field :section, class: "form-control", placeholder: "Ex: 33151" %>
            </div>

            <div class="form-group">
                <p>Days when class will be held:</p>
                <div class="form-check form-check-inline">
                    <%= f.check_box :monday %>
                    <%= f.label :monday, "Monday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :tuesday %>
                    <%= f.label :tuesday, "Tuesday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :wednesday %>
                    <%= f.label :wednesday, "Wednesday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :thursday %>
                    <%= f.label :thursday, "Thursday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :friday %>
                    <%= f.label :friday, "Friday" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :start_time, "Start Time:" %>
                <%= f.text_field :start_time, class: "form-control", placeholder: "Ex: 6:00 PM" %>
            </div>

            <div class="form-group">
                <%= f.label :end_time, "End Time:" %>
                <%= f.text_field :end_time, class: "form-control", placeholder: "Ex: 7:20 PM" %>
            </div>

            <%= f.submit "Save Changes", class: "btn btn-danger btn-block" %>
        <% end %>
    </div>
</div>