<% provide(:title, "All your submitted courses") %>
<h1>All your Submitted Courses</h1><br />

<ul class="courses">
    <% if @courses.empty? %>
        <p>You have not submitted any courses for graders to apply to.</p>
        <p><%= link_to "Click here", newcourse_path %> to submit a course.</p>
    <% else %>
        <table class="table">
            <tr class="table-secondary">
                <td><strong>Course:</strong><br /></td>
                <td><strong>Section:</strong><br /></td>
                <td><strong>Instructor:</strong></td>
                <td><strong>Days:</strong></td>
                <td><strong>Time:</strong></td>
                <!-- <td><strong>Assignment:</strong></td> -->
                <td><strong>Actions:</strong></td>
            </tr>
            <% @courses.each do |course| %>
                <tr>
                    <td>
                        <%= course.course_name %>
                    </td>
                    <td>
                        <%= course.section %>
                    </td>
                    <td>
                        <%= course.instructor %><br /><%= course.email %>
                    </td>
                    <td><%= course_days(course) %></td>
                    <td><%= course.start_time %> - <%= course.end_time %></td>
                    <!-- <td>
                    <% GraderApplication.all.each do |app| %>
                        <% if(app.assignment.nil?) %>
                            <p>Open</p>
                        <% elsif(app.assignment.include?(course.course_name + ", " + course.section)) %>
                            <%= app.name %><br />
                            <%= app.email %>
                        <% end %>
                    <% end %>
                    </td> -->
                    <td>
                        <span>
                            <%= link_to "Edit", edit_course_path(course), class: "btn btn-danger btn-sm edit-btn" %>
                            <%= link_to "Delete", course, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm delete-btn" %>
                        </span>
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</ul>