<!-- Provide title as 'All your submitted courses' to be used in application.html.erb -->
<% provide(:title, "All your submitted courses") %>
<h1>All your Submitted Courses</h1><br />

<ul class="courses">
    <% if @courses.empty? %>
        <p>You have not submitted any courses for graders to apply to.</p>
        <p><%= link_to "Click here", newcourse_path %> to submit a course.</p>
    <% else %>
        <table class="table">
            <tr class="table-secondary">
                <td><strong>Course:</strong></td>
                <td><strong>Section:</strong></td>
                <td><strong>Instructor:</strong></td>
                <td><strong>Days:</strong></td>
                <td><strong>Time:</strong></td>
                <td><strong>Assignment:</strong></td>
                <td><strong>Actions:</strong></td>
            </tr>
            <!-- Loop through every created course to display information in a table -->
            <% @courses.each do |course| %>
                <tr>
                    <td>
                        <%= course.course_name %>
                    </td>
                    <td>
                        <%= course.section %>
                    </td>
                    <td>
                        <%= course.instructor %><br /><%= course.email %>
                    </td>
                    <td><%= course_days(course) %></td>
                    <td><%= course.start_time %> - <%= course.end_time %></td>
                    
                    <% found = false %>
                    <!-- Check to see if a user has been assigned to the current course -->
                    <% User.all.each do |u| %>
                        <!-- Only students who have been assigned a course will have 
                            a non-nil course attribute. Teachers will always have a
                            nil course attribute since they can never be assigned a
                            class -->
                        <% if !u.course.nil? %>
                            <% if u.course == course %>
                                <td class="success">
                                    <%= u.name %><br />
                                    <%= u.email %>
                                </td>
                                <% found = true %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <!-- If a user has not been assigned to the current course, display 'Open' -->
                    <% if !found %>
                        <td>Open</td>
                    <% end %>
                    
                    <td>
                        <!-- Edit and Delete Buttons -->
                        <span>
                            <%= link_to "Edit", edit_course_path(course), class: "btn btn-danger btn-sm edit-btn" %>
                            <%= link_to "Delete", course, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm delete-btn" %>
                        </span>
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</ul>