<!-- Provide title as 'Edit a Course' to be used in application.html.erb -->
<% provide(:title, 'Add a Course') %>

<h1>Add a Course</h1>
<p>Looking for a student grader for your course? Fill out the form to create a course and add it to
the list of courses for students to apply to grade for.</p>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <!-- Create a form for creating a course for student users to apply to -->
        <%= form_for(@course) do |f| %>
            <!-- Render error messages if user incorrectly entered any of the fields in the form -->
            <%= render 'shared/error_messages_courses' %>

            <!-- Fill name field with current user's name and disable the field so they can't change it -->
            <div class="form-group">
                <%= f.label :instructor, "First and Last Name:" %>
                <%= f.text_field :instructor, class: "form-control", value: current_user.name, :readonly => true %>
            </div>

            <!-- Fill email field with current user's email and disable the field so they can't change it -->
            <div class="form-group">
                <%= f.label :email, "OSU Email:" %>
                <%= f.text_field :email, class: "form-control", value: current_user.email, :readonly => true %>
            </div>

            <div class="form-group">
                <%= f.label :course_name, "Course:" %>
                <%= f.text_field :course_name, class: "form-control", placeholder: "Ex: CSE 3901" %>
            </div>

            <div class="form-group">
                <%= f.label :section, "Section:" %>
                <%= f.text_field :section, class: "form-control", placeholder: "Ex: 33151" %>
            </div>

            <div class="form-group">
                <p>Days when class will be held:</p>
                <div class="form-check form-check-inline">
                    <%= f.check_box :monday %>
                    <%= f.label :monday, "Monday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :tuesday %>
                    <%= f.label :tuesday, "Tuesday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :wednesday %>
                    <%= f.label :wednesday, "Wednesday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :thursday %>
                    <%= f.label :thursday, "Thursday" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.check_box :friday %>
                    <%= f.label :friday, "Friday" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :start_time, "Start Time:" %>
                <%= f.text_field :start_time, class: "form-control", placeholder: "Ex: 6:00 PM" %>
            </div>

            <div class="form-group">
                <%= f.label :end_time, "End Time:" %>
                <%= f.text_field :end_time, class: "form-control", placeholder: "Ex: 7:20 PM" %>
            </div>

            <%= f.submit "Submit Course", class: "btn btn-danger btn-block" %>
        <% end %>
    </div>
</div>
