<div class="title-bar">
    <p id="prof-name">Michael D. Bond</p>
    <img id="org-name" src="http://web.cse.ohio-state.edu/~parent.1/include/cse-logo.jpg">
</div>
<div class="navbar">
    <ul>
        <li><%= link_to '<i class="fas fa-home"></i>', '../build/index.html' %>
        <li><%= link_to 'News', '../build/news.html' %>
        <li><%= link_to 'Research', '../build/research.html' %>
        <li><%= link_to 'Teaching', '../build/teaching.html' %>
        <li><%= link_to 'Miscellaneous', '../build/misc.html' %>
    </ul>
</div>
<hr id="stripe">