<% provide(:title, "All your submitted recommendations") %>
<h1>All your Submitted Recommendations</h1>

<ul class="recommendations">
    <% if @recommendations.empty? %>
        <p>There are no student recommendations for any courses.</p>
        <p><%= link_to "Click here", newrecommendation_path %> to submit a course.</p>
    <% else %>
        <table class="table">
            <% @recommendations.each do |recommendation| %>
                <tr>
                    <td>
                        <strong>Course:</strong><br /><%= recommendation.course %>
                    </td>
                    <td>
                        <strong>Section:</strong><br /><%= recommendation.section %>
                    </td>
                    <td>
                        <strong>Student:</strong><br /><%= recommendation.name %>
                                                    <br /><%= recommendation.email %>
                    </td>
                    <td>
                        <strong>Assignment:</strong>
                        
                    </td>
                    <td>
                        <%= link_to "Edit", edit_recommendation_path(recommendation), class: "btn btn-danger btn-sm edit-btn" %>
                    </td>
                    <td>
                        <%= link_to "Delete", recommendation, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm delete-btn" %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</ul>