<% provide(:title, "All your submitted recommendations") %>
<h1>All your Submitted Recommendations</h1><br />

<ul class="recommendations">
    <% if @recommendations.empty? %>
        <p>There are no student recommendations for any courses.</p>
        <p><%= link_to "Click here", newrecommendation_path %> to submit a recommendation.</p>
    <% else %>
        <table class="table">
            <tr class="table-secondary">
                <td><strong>Course:</strong><br /></td>
                <td><strong>Section:</strong><br /></td>
                <td><strong>Student:</strong></td>
                <td><strong>Actions:</strong></td>
            </tr>
            <% @recommendations.each do |recommendation| %>
                <tr>
                    <td><%= recommendation.course %></td>
                    <td>
                        <% if recommendation.section == "" %>
                            <p>N/A</p>
                        <% else %>
                            <%= recommendation.section %>
                        <% end %>
                    </td>
                    <td><%= recommendation.name %><br /><%= recommendation.email %></td>
                    <td>
                        <span>
                            <%= link_to "Edit", edit_recommendation_path(recommendation), class: "btn btn-danger btn-sm edit-btn" %>
                            <%= link_to "Delete", recommendation, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm delete-btn" %>
                        </span>
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>
</ul>