<% provide(:title, 'Sign Up') %>

<h1>Sign Up</h1>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages_users' %>

            <div class="form-group">
                <%= f.label :name, "First and Last Name:" %>
                <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :email, "OSU Email:" %>
                <%= f.text_field :email, class: "form-control" %>
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline">
                    <%= f.radio_button :status, "Student" %>
                    <%= f.label :status, "Student" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= f.radio_button :status, "Employee" %>
                    <%= f.label :status, "Teacher" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password, "Password:" %>
                <%= f.text_field :password, class: "form-control", type: "password" %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, "Confirm Password:" %>
                <%= f.text_field :password_confirmation, class: "form-control", type: "password" %>
            </div>

            <%= f.submit "Create my account", class: "btn btn-danger btn-block" %>
        <% end %>
    </div>
</div>
        
