<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
<%= link_to "OSU CSE Grader's Portal", current_user, class: "navbar-brand" %>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <%= link_to "Home", current_user, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
        <% if current_user.grader_application.nil? %>
          <%= link_to "Application", newapplication_path, class: "nav-link text-light" %>
        <% else %>
          <%= link_to "Application", currentapplication_path, class: "nav-link text-light" %>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to "Log Out", logout_path, class: "nav-link text-light", method: :delete %>
    </li>
  </ul>
</div> 

</nav>