<% provide(:title, 'Assign a Grader') %>

<% all_assigned = true %>
<% @application.courses.each do |course| %>
    <% if !course.assigned %>
        <% all_assigned = false %>
        <% break %>
    <% end %>
<% end %>

<% if all_assigned %>
    <p>The course(s) this student has applied for have already been assigned.</p>
<% else %>
<h1>Assign a Grader</h1><br />
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <strong>Choose a course to assign <%= @application.name %> to:</strong><br />
        <%= form_for(@application.user) do |f| %>
            <%= f.hidden_field :id, value: @application.user.id %>
            <% @application.courses.each do |course| %>
                <% if !course.assigned %>
                    <%= f.radio_button :course_id, course.id %>
                    <%= f.label :course_id, course_info(course) %>
                <% end %>
                <br />
            <% end %><br />
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <%= f.submit "Assign", class: "btn btn-danger btn-block" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<% end %>

