<% provide(:title, 'Submit a Grader Application') %>

<h1>Add a Grader Application</h1>
<p>Would you like to be a student grader for a CSE course? Fill out the application to put your name in consideration for a position.</p>

<% all_assigned = true %>
<% Course.all.each do |course| %>
    <% if !course.assigned %>
        <% all_assigned = false %>
        <% break %>
    <% end %>
<% end %>

<% if Course.count == 0 || all_assigned %>
    <p>Sorry, there are no courses to apply to. Please check later to submit an application.</p>
<% else %>    
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <%= form_for(@application) do |f| %>
                <%= render 'shared/error_messages_applications' %>

                <div class="form-group">
                    <%= f.label :name, "First and Last Name:" %>
                    <%= f.text_field :name, class: "form-control", value: current_user.name, :readonly => true %>
                </div>

                <div class="form-group">
                    <%= f.label :email, "OSU Email:" %>
                    <%= f.text_field :email, class: "form-control", value: current_user.email, :readonly => true %>
                </div>
                
                <div class="form-group">
                    <%= hidden_field_tag "grader_application[course_ids][]", nil %>
                    <% Course.all.each do |course| %>
                        <% if !course.assigned %>
                            <%= check_box_tag "grader_application[course_ids][]", course.id, @application.course_ids.include?(course.id) %>
                            <%= course_info(course) %><br />
                        <% end %>
                    <% end %>
                </div>
                
                <div class="form-group">
                    <%= f.label :qualifications, "Which courses have you taken that qualify you as a grader?" %>
                    <%= f.text_field :qualifications, class: "form-control", size: "50" %>
                </div>

                <br />
                <%= f.submit "Submit", class: "btn btn-danger btn-block submit", disabled: true %>

            <% end %>
        </div>
    </div>
<% end %>
